<h1>Coming Next - American Scorecard</h1>

<h2> Secondary Priority : Politician and Policy/Legal action Accountability Metrics Platform </h2>
<div>
    A platform specifically for tracing actions of politicians and policies from both partisan & non-partisan approaches
</div>
<div>
    with a focus on brevity, logic, consistency, and honesty metrics, which can be calculated in a non-partisan manner.
</div>
<div>
    However, also using topic-based associative positive/negative metrics, so that partisan and professional groups can
</div>
<div>
    be able to better represent themselves and their beliefs on the influence of policies, together with their professional reasoning.
</div>

<h2> Tertiary Priority </h2>
<div>
    
</div>
