<mat-card>
    <div class="home-three-main-bodies-container">
        <mat-card class="main-one">
                <div>Find Company, Location Scores by Map (Map Icon)</div>
                <h2>State Scoring</h2>
                <div>
                    Retrieve and show three random metrics under State Frame-of-Reference category if user is logged in.
                </div>
                <h2>Local Scoring</h2>
                <div>
                    Retrieve and show three random local metrics if user is logged in and has set location
                </div>
                <h2>Work Scoring</h2>
                <div>
                    Retrieve and show three random business metrics if user is logged in and has set work location
                </div>
                <!-- May be a nice-to-have -->
                <h2>Critical Frame of Reference Metrics</h2>
                <div>
                    Explanation of why this location is currently deemed as critical
                </div>
                <div>
                    Retrieve and show top three metrics selected as relevant to the given frame of reference and critical event : Set by admins
                </div>
        </mat-card>
        <mat-card class="main-two">
            <div>
                Thank you for viewing the American Scorecard!
                <p></p>
                <p>  
                    The scoring process of our communities and our country are crutial
                    to the process of refining ourselves and our communities for a better future.
                </p>
                <p>
                    We must first know where we are
                    and where we have been to be able to know where we can and should go in the future.
                </p>
                    
                
            </div>
        </mat-card>
        <mat-card class="main-three">
            <h2>Random Political Scores</h2>
                <div>
                    Retrieve and show three random metrics under a particular randomly selected Political Category
                </div>
                <h2>Personalized Political Scores</h2>
                <div>
                    Retrieve and show scores related to the user if they have addressed things they are concerned about
                </div>
                <!-- May be a nice-to-have -->
                <h2>Critical Political Scores</h2>
                <div>
                    Explanation of why this political topic is currently deemed as critical
                </div>
                <div>
                    Retrieve and show top three metrics selected as relevant to the politics and critical event : Set by group admins
                </div>
        </mat-card>
    </div>
</mat-card>