<h1>How To Use - American Scorecard</h1>
<div>
    <h2>What is the American Scorecard?</h2>
    <div class="col-md-8">
        The American Scorecard is intended to be a non-partisan approach to assessing the status of the country and our communities using analytics 
    </div>
    <div class="col-md-8">
        based on metrics formed using both interdisciplinary and specialized approaches.  This Scorecard can fulfill multiple purposes depending on 
    </div>
    <div class="col-md-8">
        how it is used and leveraged.  The primary purpose is to provide a platform for experts and people who work to better society in general
    </div>
    <div class="col-md-8">
        a place where they can directly represent their findings in a format that makes it simple and open/accessible to the general public.
    </div>
    <div class="col-md-8">
        The secondary purpose is to create a centralized location of these findings in a uniform format, such that competitiveness and anti-competitiveness
    </div>
    <div class="col-md-8">
        between different groups can be analyzed rigorously and prevent misinformation that would allow for groups and individuals to use deception to gain
    </div>
    <div class="col-md-8">
        advantages instead of actual work.
    </div>
    <p></p>
    <h2>Metrics and the Language of Logic</h2>
    <div class="col-md-8">
        Metrics are effectively any kind of mathematically determined number, meant to represent a given situation.  What this equates to is, if
    </div>
    <div class="col-md-8">
        anything in reality can be described using logic, then it should be possible to create a solvable math equation for that thing.  If an equation
    </div>
    <div class="col-md-8">
        is solvable in a way such that it becomes a single number after recieving all inputs/variables, then it can be treated as a metric for the situation
    </div>
    <div class="col-md-8">
        that the equation describes logically.
    </div>
    <p></p>
    <h2>Interdisciplinary Studies and Open Competitiveness</h2>
    <div class="col-md-8">
        As well as to provide a platform for interdisciplinary collaboration on these subjects critical to our communities, so that competitive ideas
    </div>
    <div class="col-md-8">
        so metrics can be refined into relevant per-unit metrics, since only in per-unit formats with appropriate comparable contexts can metrics be
    </div>
    <div class="col-md-8">
        completely certain to be comparable.
    </div>