.container {
    display : flex;
}

.home-three-main-bodies-container {
    display: flex;
    flex-direction : row;
    flex-wrap : nowrap;
    justify-content: space-around;
    align-items: baseline;
}

.main-one {
    display: flex;
    flex-direction: column;
    flex-wrap : nowrap;
    flex-basis: 200px;
}
.main-two {
    display: flex;
    flex-direction: column;
    flex-wrap : nowrap;
    flex-basis: 500px;
}
.main-three {
    display: flex;
    flex-direction: column;
    flex-wrap : nowrap;
    flex-basis: 200px;
}
  
.start-left-row {
    flex-direction : row;
    flex-wrap : nowrap;
}

.start-right-row {
    flex-direction : row-reverse;
    flex-wrap : nowrap;
}

.start-top-column {
    flex-direction: column;
    flex-wrap : nowrap;
}

.start-bottom-column {
    flex-direction: column-reverse;
    flex-wrap : nowrap;
}